<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANCAFFE.Properties.Settings.QUANCAFFEConnectionString"
            connectionString="Data Source=DESKTOP-8PDK1UM\SQLEXPRESS;Initial Catalog=QUANCAFFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANCAFFEEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8PDK1UM\SQLEXPRESS;initial catalog=QUANCAFFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="QUANCAFFEEntities1" connectionString="metadata=res://*/AA.csdl|res://*/AA.ssdl|res://*/AA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8PDK1UM\SQLEXPRESS;initial catalog=QUANCAFFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="QUANCAFFE.Properties.Settings.QUANCAFFEConnectionString1"
            connectionString="Data Source=DESKTOP-8LVCJTH\SQLEXPRESS;Initial Catalog=QUANCAFFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANCAFFE.Properties.Settings.QUANCAFFEConnectionString2"
            connectionString="Data Source=DESKTOP-LGGQE1P\SQLEXPRESS;Initial Catalog=QUANCAFFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>